
{% for article in news%}
        <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 news">    
				
            <a href="{% url 'post' article.id %}">
                <div class="title">
                   {{ article.title}}
                </div>
                <div class="tekst">
                   {{ article.shortnews}}
                </div>
             </a>
            <div class="author">
                Posted by {{ article.auth_user.first_name}}  on  {{ article.datatime}}
            </div>
           
        </div>    
         <div class="col-md-3"></div>
    </div>
	{% endfor %}


