{% extends 'main.html' %}
{% load staticfiles %}
{% block header%}
    <!-- nagłówek-->
    <div class="rowMenu">
        <header style="background-image: url('{% static 'images/home.jpg' %}')">
            <div id="menu">
                {% include 'common/navigation.html' %}
            </div>
             <div class="row">
                <div class="header-tekst">
                    <div class="col-md-3"></div>
                          <div class="col-md-6">
                                  <div class="header-title">
                                    <div class="title">
                                         {{news.title}}
                                    </div>
                                    <div class="tekst">
                                       {{news.shortnews}}
                                    </div>
                                    <div class="author">
                                        Posted by {{news.auth_user.username}} on {{news.datatime}}
                                    </div>
                                </div>
                            </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </header>
    </div>
{% endblock %}

{% block main%}
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6 post">


                <div class="row">
                    <div id="summernote"></div>
               </div>

                <div class="row saveMessageButton">
                    <input type="submit" value="Zapisz" id="saveMessage" class="belize-hole-flat-button" onClick="updatePost();return false;">

               </div>

                <div class="longPost">
                {{news.longnews}}
                </div>
            </div>
        <div class="col-md-3"></div>
    </div>

                    <div class="row">
                        <div class="col-md-3"></div>
                            <div class="col-md-6 comments">
                            </div>
                        <div class="col-md-3"></div>
                    </div>

                    {% if not user.is_authenticated %}
                       <div class="row">
                            <div class="col-md-3"></div>

                                <div class="col-md-6 commentsAlert">
                                    Zaloguj się aby dodać komentarz
                                </div>
                            <div class="col-md-3"></div>
                       </div>
                    {% endif%}
 {% endblock %}
