{% extends 'main.html' %}
{% load staticfiles %}

{% block header %}
<!-- nagłówek-->
    <div class="rowMenu">   
        <header style="background-image: url('{% static 'images/home.jpg' %}')">
            <div id="menu">                        
                 {% include 'common/navigation.html' %}
            </div>
             <div class="row">
                <div class="header-tekst">
                    <div class="col-md-3"></div>
                      <div class="col-md-6">
                                ARTICLE BLOG                  
                            </div>  
                    <div class="col-md-3"></div>
                </div>
            </div>
        </header>        
    </div>  
    </div>
{% endblock %}

{% block main %}
<div class="row">
<div class="one-third-column">
     <div class="col-md-4"></div>
      <div class="col-md-4">
          <div class="row">
              <div class="col-md-2"></div>            
                <div class="col-md-8">

                    <form name="login-form" id="login-form" class="login-form" method="post">
                            <div class="header">
                            <h1>Login Form</h1>		
                            </div>
                            <div class="content">
                                {% csrf_token %}
                            <input name="email" id="email" type="email" class="input username" placeholder="email" />
                            <input name="password" id="password" type="password" class="input password" placeholder="Password" />
                            </div>
                            <div class="errorLogin">

                            </div>
                            <div class="footer">
                                <div class="row">
                            <input type="submit" name="submit" value="Login" class="button"/>
                                </div>   
                                <div class="text">Nie masz konta?</div><input type="button" name="submit" value="Dołącz do nas" id="registerpage" class="register" />	
                                
                            </div>
                            		    
                    </form>
                </div>            
                <div class="col-md-2"></div>
        </div>

    </div>
     <div class="col-md-4"></div>
 </div>
</div>
{% endblock %}

